@keyframes cornerLeftUp {
  50% {
    top: -15px;
    left: -5px;
  }
}

@keyframes cornerLeftBottom {
  50% {
    bottom: -15px;
    left: -5px;
  }
}

@keyframes cornerRightUp {
  50% {
    top: -15px;
    right: -5px;
  }
}

@keyframes cornerRightBottom {
  50% {
    bottom: -15px;
    right: -5px;
  }
}
