/*
 * lay-out
 */

.list--horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab {
 display: none;
 text-align: center;
 &.is-active-tab {
   display: block;
 }
}

.body {
  &.has-active-popup {
    overflow: hidden;
    .gallery-pop-up {
      display: flex;
    }
  }
}

/*
 * styling
 */

.bordered {
  cursor: pointer;
  position: relative;
  &__corner {
    position: absolute;
    border: 4px solid $blue;
    height: 11px;
    width: 11px;
    transition: all 0.4s ease-out;
  }
  &__corner--left-up, &__corner--left-bottom, &__corner--right-up, &__corner--right-bottom {
    transition: all 0.3s ease-out;
  }
  &__corner--left-up {
    top: -10px;
    left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  &__corner--left-bottom {
    bottom: -10px;
    left: 0;
    border-right: 0;
    border-top: 0;
  }
  &__corner--right-up {
    top: -10px;
    right: 0;
    border-left: 0;
    border-bottom: 0;
  }
  &__corner--right-bottom {
    bottom: -10px;
    right: 0;
    border-left: 0;
    border-top: 0;
  }
}

.icon {
  position: relative;
  display: inline-block;
  &__twitter {
    &:before {
      content: "";
      @include translateXY();
      display: block;
      position: absolute;
      left: -20px;
      background: url("../img/icon/twitter.svg") no-repeat;
      background-size: 100%;
      height: 15px;
      width: 18px;
      margin-top: 2px;
    }
  }
  &__message {
    &:before {
      content: "";
      @include translateXY();
      display: block;
      position: absolute;
      left: -40px;
      background: url("../img/icon/message.svg") no-repeat;
      background-size: 100%;
      height: 34px;
      width: 40px;
      margin-top: 2px;
    }
  }
}

.cta {
  margin: 40px 0 70px;
  display: inline-block;
  cursor: pointer;
  padding: 0 20px 0 77px;
  &__text {
    color: $green;
    margin: 0;
    transition: all 0.4s ease-out;
  }
  .bordered__corner {
    border: 3px solid $green;
    height: 8px;
    width: 8px;
  }
  .bordered {
    &__corner--left-up {
      top: 0;
      left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    &__corner--left-bottom {
      bottom: -5px;
      left: 0;
      border-right: 0;
      border-top: 0;
    }
    &__corner--right-up {
      top: 0;
      right: 0;
      border-left: 0;
      border-bottom: 0;
    }
    &__corner--right-bottom {
      bottom: -5px;
      right: 0;
      border-left: 0;
      border-top: 0;
    }
  }
}

.cta:hover {
  .cta__text {
    color: $green--light;
  }
  .bordered {
    &__corner {
      border-color: $green--light;
    }
    &__corner--left-up {
      animation: cornerLeftUpSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
    &__corner--left-bottom {
      animation: cornerLeftBottomSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
    &__corner--right-up {
      animation: cornerRightUpSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
    &__corner--right-bottom {
      animation: cornerRightBottomSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
  }
}

/*
 * components
 */

.header {
  text-align: center;
  width: 100%;
  margin-bottom: 70px;
  .nav {
    .list {
      &__item {
        width: 170px;
        margin: 20px 34px;
        transition: all 0.4s ease-out;
        cursor: pointer;
        &.is-active {
          color: $red--light;
          .bordered {
            &__corner {
              border-color: $blue--light;
            }
          }
        }
        &:hover {
          color: $red--light;
          .bordered {
            &__corner {
              border-color: $blue--light;
            }
            &__corner--left-up {
              top: -10px;
              left: 0;
              animation: cornerLeftUp 0.7s infinite;
              animation-timing-function: ease-out;
            }
            &__corner--left-bottom {
              bottom: -10px;
              left: 0;
              animation: cornerLeftBottom 0.7s infinite;
              animation-timing-function: ease-out;
            }
            &__corner--right-up {
              top: -10px;
              right: 0;
              animation: cornerRightUp 0.7s infinite;
              animation-timing-function: ease-out;
            }
            &__corner--right-bottom {
              bottom: -10px;
              right: 0;
              animation: cornerRightBottom 0.7s infinite;
              animation-timing-function: ease-out;
            }
          }
        }
      }
    }
  }
}

.is-active {
  color: $red--light;
  opacity: 1;
  .bordered {
    &__corner {
      border-color: $blue--light;
    }
  }
}

.gallery {
  position: relative;
  width: 100%;
  padding: 0 20%;
  margin-bottom: 100px;
  &__title {
    margin-bottom: 40px;
  }
  .list {
    margin: 0 -20px;
  }
  &__item {
    width: 25%;
    margin: 40px 34px 80px;
    text-align: left;
    cursor: pointer;
    &__title {
      margin: 40px 0 30px;
    }
    &__title, &__caption {
      transition: all 0.4s ease-out;
    }
    &__img {
      width: 100%;
      max-height: 100%;
      position: relative;
      padding: 30%;
      &:before {
        content: '';
        float: left;
        padding-top: 66.66%;
      }
    }
    &:hover {
      h4 {
        color: $blue--light;
      }
      p {
        color: $red--light;
      }
      .bordered {
        &__corner {
          border-color: $blue--light;
        }
        &__corner--left-up {
          top: -10px;
          left: 0;
          animation: cornerLeftUp 0.7s infinite;
          animation-timing-function: ease-out;
        }
        &__corner--left-bottom {
          bottom: -10px;
          left: 0;
          animation: cornerLeftBottom 0.7s infinite;
          animation-timing-function: ease-out;
        }
        &__corner--right-up {
          top: -10px;
          right: 0;
          animation: cornerRightUp 0.7s infinite;
          animation-timing-function: ease-out;
        }
        &__corner--right-bottom {
          bottom: -10px;
          right: 0;
          animation: cornerRightBottom 0.7s infinite;
          animation-timing-function: ease-out;
        }
      }
    }
  }
}

.about {
  max-width: 500px;
  margin: 0 auto;
  &__location {
    position: relative;
    color: $red--light;
    display: inline-block;
    margin-bottom: 20px;
    &:before {
      content: "";
      @include translateXY();
      display: block;
      position: absolute;
      left: -20px;
      background: url("../img/icon/location-pin.svg") no-repeat;
      background-size: 100%;
      height: 20px;
      width: 14px;
    }
  }
  &__social {
    margin-bottom: 70px;
    &__anchor {
      display: flex;
      margin: 0 17px;
      padding: 0 20px 0 47px;
      &__text {
        color: $blue;
        margin: 0;
        transition: all 0.4s ease-out;
      }
    }
    .bordered__corner {
      border: 3px solid $red;
      height: 8px;
      width: 8px;
    }
    .bordered {
      &__corner--left-up {
        top: 0;
        left: 0;
        border-right: 0;
        border-bottom: 0;
      }
      &__corner--left-bottom {
        bottom: -5px;
        left: 0;
        border-right: 0;
        border-top: 0;
      }
      &__corner--right-up {
        top: 0;
        right: 0;
        border-left: 0;
        border-bottom: 0;
      }
      &__corner--right-bottom {
        bottom: -5px;
        right: 0;
        border-left: 0;
        border-top: 0;
      }
    }
  }
}

.about__social__anchor:hover {
  .about__social__anchor__text {
    color: $blue--light;
  }
  .bordered {
    &__corner {
      border-color: $red--light;
    }
    &__corner--left-up {
      animation: cornerLeftUpSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
    &__corner--left-bottom {
      animation: cornerLeftBottomSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
    &__corner--right-up {
      animation: cornerRightUpSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
    &__corner--right-bottom {
      animation: cornerRightBottomSmall 0.7s infinite;
      animation-timing-function: ease-out;
    }
  }
}

.contact {
  &__illustration {
    margin: 0 auto 40px;
    width: 70px;
  }
}

.gallery-pop-up {
  height: 100%;
  width: 100%;
  background: $darkness;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__image {
    margin-bottom: 70px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__nav {
    position: absolute;
    @include translateY();
    display: flex;
    cursor: pointer;
    &__triangle {
      position: relative;
      margin-right: 25px;
      &__corner {
        position: absolute;
        border-left: 10px solid $blue;
        height: 40px;
        width: 40px;
        transition: all 0.4s ease-out;
      }
      &__corner--left-up {
        top: -20px;
        left: 0;
        border-right: 0;
        border-bottom: 0;
        transform: rotate(45deg);
      }
      &__corner--left-bottom {
        bottom: -20px;
        left: 0;
        border-right: 0;
        border-top: 0;
        transform: rotate(-45deg);
      }
    }
    &:hover {
      .gallery-pop-up__nav__triangle__corner {
        border-left: 10px solid $blue--light;
      }
    }
  }
  &__nav--left-button {
    left: 5%;
    transition: all 0.4s ease-out;
    &:hover {
      left: 4%;
    }
  }
  &__nav--right-button {
    right: 5%;
    transform: scale(-1, 1);
    transition: all 0.4s ease-out;
    &:hover {
      right: 4%;
    }
  }
  &__exit-btn {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 120;
    cursor: pointer;
    &:before, &:after {
      content: "";
      display: flex;
      height: 40px;
      width: 10px;
      position: absolute;
      background: $red;
      transform-origin: center;
      transition: all 0.4s ease-out;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before, &:after {
        background: $red--light;
      }
    }
  }
}
