@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 640px) {
  h1, .title-1 {
    font-size: 60px;
  }
  .tab, .header {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 470px) {
  h1, .title-1 {
    font-size: 45px;
  }
}
